default:
    suites:
        project:
            paths:
                 - %paths.base%/features/Project
            contexts:
                - ProjectContext:
                    session: '@session'
        default:
            paths:
                 - %paths.base%/features/User
            contexts: 
                - UserContext:
                    session: '@session'
    extensions:
        Behat\Symfony2Extension: ~
        Behat\MinkExtension:
            base_url: 'http://localhost/web/app_dev.php/'
            sessions:
                default:
                    symfony2: ~
                selenium2:
                    selenium2:
                        wd_host: "http://localhost:4444/wd/hub"