{% extends '::base.html.twig' %}

{% block body -%}
    {% block bodytitle %}
        <h1>{% trans with {'%project%': task.project.name, '%task%': task.name} %}task.editionInProject{% endtrans %}</h1>
    {% endblock %}
    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('pm_project_project_edit', { 'id':task.project.id}) }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
