<h2>Team members</h2>
<table class="records_list table table-striped">
	<thead>
		<tr>
			<th>User</th>
			<th>Role</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
        {% for team_member in team_members %}
		<tr>
		    <td>{{ team_member.member.firstName }} {{ team_member.member.lastName }}</td>
		    <td>{{ team_member.role.name }}</td>
		    <td>Update /
            {% form_theme delete_forms[team_member.id] ':Forms:fields.html.twig' %}
            {{ form(delete_forms[team_member.id]) }}
            </td>
		{% endfor %}
		</tr>
	</tbody>
</table>
<div class="modal fade" id="deleteModal"></div>
