{% extends 'ProjectManagerProjectBundle:Project:new.html.twig' %}

{% block bodytitle %}
    <h1>{{ 'project.edition'|trans }} {{ project.name }}</h1>
{% endblock %}

{% block body %}
    {{ parent() }}
    {{ render(controller('ProjectManagerProjectBundle:Task:index', { 'projectId': project.id })) }}
{% endblock %}
